title = "Photosingle"
url = "/photos/photo/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Vera\Photos\Models\Photo"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<div class="container">
    {% if record %}        
        <h2>{{record.name}}</h2>
        <img src="{{record.poster.thumb(200,auto)}}" alt="imagen">
        <h4>Descripción:</h4>
        <p>{{record.description|raw}}</p>
        <p><small><p>Año: {{record.year}}</p></small></p>

        <h3>Galeria de fotos</h3>
        <ul class="gallery clearfix d-flex" style="text-decoration: none;">
            {% for image in record.photo_gallery%}
                <a href="{{image.path}}">
                    <li class="ml-5"style="text-decoration: none;" >
                    <img src=" {{image.thumb(80,80,{'mode':'crop'})}}" alt="">
                    </li>
                </a>
            {% endfor %}
        </ul>
        <h3>Autores:</h3>

        {% for autor in record.author%}
            <li style="list-style: none;">
                <a href="">{{autor.autor_name}}</a>
            </li>
        {% endfor %}
        <br>
        <h3>Generos:</h3>
        {% for genero in record.generos %}
            <li>
                <a href="/Generos/{{ genero.slug }}">{{genero.genero_titulo}}</a><br>
            </li>
        {% endfor%}
        

    {% else %}
        {{ notFoundMessage }}
    {% endif %}
</div>